<template name="createOrganization">
	<h3>Thanks for joining as a leader of a organization.</h3>
	<p>As a leader here in Formed, you'll be able invite an assourment of your awesome students to any of the unlimited groups/classes you can create.</p>
	<p>To create your organization and get started, let's pick a name for you organization.</p>
	<form class="addOrganization">
		<input type="text" name="orgName" id="orgName" placeholder="Maybe church name?"/>
		<input type="submit" class="btn btn-primary" value="Create My Organization"/>
	</form>
</template>
