<template name="post">
	<div class="feed response">
		<!-- <img src='../images/images.jpg' class="user-img" alt="" /> -->
		{{> avatar userId=authorId class="user-img" shape="circle"}}
		<p class="user-name">{{author}} 
			<br /><span class="time-since-dataed">{{formattedDate}}</span>
		</p>
		<p class="activity-label"><a class="activity-name">activity name</a></p>
		<p class="response-text">{{text}}</p>
		{{#if isAuthor}}
			<div class="options options-open">
				<a href="#"><i class="fa fa-{{privateState}} toggle-private"></i></a> 
				<a href="#"><i class="fa fa-trash delete-post"></i></a>
			</div>
    {{/if}}
	</div>
</template>