<template name="_footer">
  <footer>
    <div class="container">
      <p class="text-center text-muted">
        &copy; Copyright 2016 Formed App
      </p>
    </div>
  </footer>
  <script>
  // if mobile function
  function isMobile(){
      if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
          return true;
      } else if ($(window).width() < 991) {
          return true;
      }
  }
  $('.navbar-brand').click(function() {
      var navbar_toggle = $('.navbar-toggle');
      if (navbar_toggle.is(':visible') && $('div#navbar').hasClass('in') && isMobile()) {
        navbar_toggle.trigger('click');
      }
  });
  </script>
</template>
