<template name="_header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <a class="navbar-brand" href="{{ pathFor 'home' }}">
          <img src='/images/logo.png' width="45"/>
          <span class="view-title">Formed</span>
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {{#if currentUser}}
          <li class="community {{ isActiveRoute regex='community' }}" onclick="if(isMobile())$('.navbar-toggle').click()"><a href="{{ pathFor 'community' }}">Community</a></li>
          <li class="activity {{ isActiveRoute regex='activities' }}" onclick="if(isMobile())$('.navbar-toggle').click()"><a href="{{ pathFor 'activities' }}">Activities</a></li>
          <li class="journal {{ isActiveRoute regex='journal' }}" onclick="if(isMobile())$('.navbar-toggle').click()"><a href="{{ pathFor 'journal' }}">Journal</a></li>
          <li class="profile {{ isActiveRoute regex='profile' }}" onclick="if(isMobile())$('.navbar-toggle').click()"><a href="{{ pathFor 'profile' }}">Profile</a></li>
          <!-- <li class="leader"><a href="#">Leader</a></li> -->
          <li class="dropdown">
            <li><a href="#" data-action="logout" class="btn btn-default navbar-btn"><i class="fa fa-lock"></i> Sign Out</a></li>
          </li>
          {{else}}
          <div class="pull-right">
            <a href="{{ pathFor 'atSignIn' }}" class="btn btn-default navbar-btn">Sign in</a>
            <a href="{{ pathFor 'atSignUp' }}" class="btn btn-primary navbar-btn">Register</a>
          </div>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
  <!-- <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <a class="navbar-brand" href="{{pathFor 'home'}}">Formed</a>
      </div>

      <div class="collapse navbar-collapse" id="main-nav">
        {{#if currentUser}}
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-user"></i> {{ currentUser.profile.name }} <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" data-action="logout"><i class="fa fa-lock"></i> Sign Out</a></li>
            </ul>
          </li>
        </ul>
        {{else}}
        <div class="navbar-right">
          <a href="{{ pathFor 'atSignIn' }}" class="btn btn-default navbar-btn">Sign in</a>
          <a href="{{ pathFor 'atSignUp' }}" class="btn btn-primary navbar-btn">Register</a>
        </div>
        {{/if}}

        <ul class="nav navbar-nav navbar-right">
          <li class="{{ isActiveRoute regex='home' }}"><a href="{{ pathFor 'home' }}"><i class="fa fa-home"></i> Home</a></li>
          <li class="{{ isActiveRoute regex='dashboard' }}"><a href="{{ pathFor 'dashboard' }}"><i class="fa fa-gear"></i> Dashboard</a></li>
        </ul>
      </div>

    </div>
  </nav> -->

</template>
