<template name="createGroup">
	<h3>Thanks for joining as a leader of a group.</h3>
	<p>As a leader here in Formed, you'll be able invite an assourment of your awesome students to any of the unlimited classes you can create.</p>
	<p>To create your group and get started, let's pick a name for you group.</p>
	<form class="addGroup">
		<input type="text" name="group" id="group" placeholder="Maybe your oginization or church name?">
		<input type="submit" value="Create My Group">
	</form>
</template>
