<template name="home">
  <div class="template-home">
    <div class="container">
      <div class="col-md-6 col-md-offset-3 profile text-center">
        {{#if currentUser}}
        	<a href="/community" class="btn btn-primary community btn-block"> View the Community Posts</a>
        	<br>
        	<a href="/journal" class="btn btn-primary journal btn-block"> View Your Posts</a>
        {{else}}
			<div class="logo">
	          <img src='../images/logo.png' width="150"/>
	        </div>
	        {{> atForm}}
        {{/if}}
      </div>
    </div>
  </div>
</template>
