<template name="activities">
	<div class="template-activities">
		<div class="page-header">
			<h1>Today's Activity</h1>
		</div>
		<div class="container">
			<div class="activity receive">
				<span class="activity-label">Receive</span>
				<h1>2 Corinthians 5:17</h1>
				<p>Therefore, if anyone is in Christ, the new creation has come:[a] The old has gone, the new is here!</p>
			</div>
		</div>
		<br>
		<div class="container">
			<div class="activity response">
				<span class="activity-label">Reponse</span>
				<p>When we follow Jesus, He transforms us--our habits, our actions, our desires. He makes us new. In the coming weeks we will embark on our own journeys of transformation as we encounter stories of Jesus meeting his followers and calling them to new life. Today, we reflect on how we have seen God transform things in the past and pray into how He is transforming us in the present!</p>
				<form class="new-post form-group">
					<label class="control-label" for="reflectInput">Add your reflection to your personal journal:</label>
					<input class="form-control" id="reflectInput" name="text" type="text" placeholder="Yes, I think that..."/>
					<br>
					<input type="submit" value="add to journal" class="btn btn-primary new-post">
				</form>
			</div>
		</div>
	</div>
</template>
