<template name="activities">
	<div class="template-activities">
		<div class="page-header">
			<h1>Today's Activity</h1>
		</div>
		<div class="container">
			<div class="activity receive">
				<span class="activity-label">Receive</span>
				<h1>John 10:13</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum similique iure sit possimus praesentium, vitae est minima nam ipsam mollitia eligendi numquam veniam dolore delectus, debitis reprehenderit laudantium, consectetur! Quasi?</p>
			</div>
		</div>
		<br>
		<div class="container">
			<div class="activity response">
				<span class="activity-label">Reponse</span>
				<p>Possimus praesentium, vitae est minima nam ipsam mollitia eligendi numquam veniam dolore delectus?</p>
				<form class="new-post form-group">
					<label class="control-label" for="reflectInput">Answer:</label>
					<input class="form-control" id="reflectInput" name="text" type="text" placeholder="Yes, I think..."/>
					<br>
					<input type="submit" class="btn btn-primary new-post">
				</form>
			</div>
		</div>
	</div>
</template>
