<template name="dashboard">
  <div class="template-dashboard">
    <div class="page-header">
      <h1>User Board</h1>
      <div class="container">
      	<div class="row">
      		<div class="col-md-4">
      			<p class="stat-num text-center">{{postsCount}}</p>
      			<p class="text-center"># of Posts</p>
      		</div>
      		<div class="col-md-4">
      			<p class="stat-num text-center">{{usersCount}}</p>
      			<p class="text-center"># of Users</p>
      		</div>
      		<div class="col-md-4">
      			<p class="stat-num text-center">#</p>
      			<p class="text-center">More Coming Soon</p>
      		</div>
      	</div>
      </div>
    </div>
  </div>
</template>
