<template name="dashboard">
  <div class="template-dashboard">
    <div class="page-header">
      <h1>Super Admin Dashboard</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p class="stat-num text-center">{{usersCount}}</p>
          <p class="text-center"># of Users</p>
        </div>
        <div class="col-md-3">
          <p class="stat-num text-center">{{postsCount}}</p>
          <p class="text-center"># of Posts</p>
        </div>
        <div class="col-md-3">
          <p class="stat-num text-center">{{organizationsCount}}</p>
          <p class="text-center"># of Organizations</p>
        </div>
        <div class="col-md-3">
          <p class="stat-num text-center">{{groupsCount}}</p>
          <p class="text-center"># of Groups</p>
        </div>
      </div>
      
      <div class="page-header">
        
      </div>
      <div class="row">
        
      </div>

      <div class="page-header">
        <h2>Organizations</h2>
      </div>
      {{> listOrganizations}}

      <div class="page-header">
        <h2>Groups</h2>
      </div>
      {{> listGroups}}

    </div>
  </div>
</template>
