<template name="groupInvite">
  <div class="template-groupInvite">
    <div class="container">
      <div class="col-md-6 col-md-offset-3 text-center">
        {{#if ifGroupExists}}
        <div class="logo">
          <img src='/images/logo.png' width="150"/>
          {{#if ifCurrentUser}}
            {{#if ifCurrentUserGroup}}
            <p>You can't invite yourself silly! You're already logged in and are apart of an orginzation ({{ currentUser.profile.organization }}).</p>
            {{else}}
            <p>You don't have access to {{ group.name }}. You'll need an invite from {{ organizationLeaders }}</p>
            {{/if}}
          {{else}}
          <h1>{{ organizationName }} has invited you to Formed!</h1>
          <p>Engage, experience, and study God's word together.</p>
          {{> inviteRegisterForm}}
          {{/if}}
        </div>
        {{else}}
        <p>This organization doesn't exist. :(</p>
        <p>If you know your orginizational admin's email, you can request an invite!</p>
        <p>### add request invite form ###</p>
        {{/if}}
      </div>
    </div>
  </div>
</template>
