<template name="user">
  <div class="template-user">
    <div class="container">
      <div class="col-md-6 col-md-offset-3 profile text-center">
        <div class="user-photo">
          {{> avatar user=currentUser class="center" shape="circle" size="large"}}
        </div>
        <span>Name: </span> <span>{{ currentUser.profile.firstName }}</span><br />
        <span>Email: </span> <span>{{ currentUserEmail }}</span><br />
        <span>Organization: </span> <span>{{ organizationName }}<br />
        <span>Number of users: {{organizationUsersCount}}</span><br />
        <button class="btn btn-primary btn-copy-link" data-clipboard-text="{{ organizationInviteLink }}">Invite Others</button></span><br />
        <p><a href="/create-group" class="btn btn-primary">Add New Group</a></p>
      </div>
    </div>
  </div>
</template>
